@import "tailwindcss";

.font-Indie {
  font-family: 'Indie Flower', cursive;
}

.swiper-pagination {
  @apply text-white font-semibold;
  bottom: 35px !important;
  right: 90px !important;
  left: auto !important;
  width: auto !important;
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-white;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-2xl;
}

